<!--
<h1>tasks</h1>
<p>Find me in app/views/tasks/_tasks.html.erb</p>
-->

<% if tasks.any? %>
  <ul class="list-unstyled mt-2">
    <% @tasks.each do |task| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(task.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to task.user.name, task_path(task.id), class: "text-decoration-none" %> <span class="text-muted">posted at <%= task.created_at %></span>
          </div>
          <div>
            <p><%= task.content %> : <%= task.status %></p>
          </div>
          <div>
            <%= link_to 'タスク詳細', task_path(task.id), class: 'btn btn-primary btn-sm' %>
            <%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>