<h1>id: <%= @work.id %> のタスク詳細ページ</h1>

<p><%= @work.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクを編集する', edit_task_path(@work) %>
<%= link_to 'このタスクを削除する', @work, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>